body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a2e;
    color: #e0e0e0;
}

header {
    background-color: #0f3460;
    color: #e0e0e0;
    padding: 1rem;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f9c74f;
}

main {
    flex: 1;
    padding: 2rem;
}

footer {
    background-color: #0f3460; /* Revert to original color */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.bios-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.bio-card {
    background-color: #16213e;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: calc(33.333% - 2rem);
    transition: transform 0.3s;
}

.bio-card:hover {
    transform: scale(1.05);
}

.bio-card img {
    border-radius: 8px; /* Change to rounded corners */
    width: 200px;
    height: 200px;
}

.bio-card h3 {
    margin: 0.5rem 0;
}

.bio-card p {
    font-size: 0.9rem;
    color: #a0a0a0;
}

.bio-card a {
    color: #f9c74f;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5rem;
}

.bio-card a:hover {
    text-decoration: underline;
}

.screenshot {
    width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-details {
    flex: 1;
}

.profile-picture {
    margin-left: 20px;
    width: 150px; /* Resize to smaller size */
    height: 150px; /* Resize to smaller size */
    border-radius: 8px; /* Change to rounded corners */
}

.profile-container-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; /* Picture on the right */
    justify-content: space-between; /* Add space between text and picture */
    padding: 2rem; /* Add padding for a modern look */
}

.profile-details-right {
    flex: 1;
    margin-right: 2rem; /* Add margin to the right of the text */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
}

.profile-picture-right {
    margin-left: 40px; /* Increase margin to add more space */
    width: 300px; /* Increase size */
    height: 300px; /* Increase size */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.profile-container-left {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the container */
    padding: 2rem; /* Add padding for a modern look */
}

.profile-details-left {
    flex: 1;
    margin-left: 2rem; /* Add margin to the left of the text */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    text-align: left; /* Align text to the left */
}

.profile-picture-left {
    width: 300px; /* Increase size */
    height: 300px; /* Increase size */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-right: 2rem; /* Add margin to the right of the picture */
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 24px; /* Resize to smaller icons */
    height: 24px; /* Resize to smaller icons */
}

.alternate-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.alternate-section img {
    width: 50%;
    border-radius: 8px;
}

.alternate-section .text {
    width: 50%;
    padding: 1rem;
}

.alternate-section.reverse {
    flex-direction: row-reverse;
}

.centered-section {
    text-align: center;
    margin: 0 auto;
    max-width: 800px; /* Adjust the max-width as needed */
}

.about-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.about-section img {
    width: 50%;
    border-radius: 8px;
}

.about-section .text {
    width: 50%;
    padding: 1rem;
}

.modlist-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.modlist-section img {
    width: 50%;
    border-radius: 8px;
}

.modlist-section .text {
    width: 50%;
    padding: 1rem;
}

.future-plans-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.future-plans-section img {
    width: 50%;
    border-radius: 8px;
}

.future-plans-section .text {
    width: 50%;
    padding: 1rem;
}

.downloads-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.downloads-section img {
    width: 50%;
    border-radius: 8px;
}

.downloads-section .text {
    width: 50%;
    padding: 1rem;
}

.credits-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.credits-section img {
    width: 50%;
    border-radius: 8px;
}

.credits-section .text {
    width: 50%;
    padding: 1rem;
}

.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-left {
    transform: translateX(-20px);
}

.fade-in-right {
    transform: translateX(20px);
}

.fade-in-top {
    transform: translateY(-20px);
}

.fade-in-top-subtle {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in-top-subtle.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-bottom-subtle {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in-bottom-subtle.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-subtle {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-subtle.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .profile-container-left {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture-left {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .profile-details-left {
        margin-left: 0;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

    .about-section,
    .credits-section,
    .downloads-section,
    .modlist-section,
    .future-plans-section,
    .alternate-section {
        flex-direction: column;
    }

    .about-section img,
    .credits-section img,
    .downloads-section img,
    .modlist-section img,
    .future-plans-section img,
    .alternate-section img {
        width: 100%;
        margin-bottom: 1rem;
    }

    .about-section .text,
    .credits-section .text,
    .downloads-section .text,
    .modlist-section .text,
    .future-plans-section .text,
    .alternate-section .text {
        width: 100%;
        text-align: center;
    }

    .alternate-section.reverse {
        flex-direction: column;
    }
}
